body
{
margin:0;
padding:0;
background:url(http://yoha.me/wddp/page/source/img/bg.jpg);
font-family:"Microsoft Yahei";
background-size:100%;
overflow:hidden;
}
#headTop
{
height:200px;
width:1000px;
margin:0 auto;
}
#headTop img
{
height:200px;
}

#main
{
position:relative;
margin:30px auto;
width:500px;
height:350px;
overflow:hidden;
}
.mainBack
{
width:100%;
height:100%;
position:absolute;
z-index:-1;
background:black;
background:rgba(0,0,0,0.4);
filter:Alpha(opacity=40);
}

.title
{
position:absolute;
height:40px;
width:100%;
margin-top:30px;
text-align:center;
line-height:40px;
font-size:20px;
cursor:pointer;
user-select: none;
-moz-user-select:none;
-khtml-user-select:none;
-webkit-user-select:none;
}
#mBody
{
position:absolute;
top:70px;
margin-left:0px;
width:1000px;
height:270px;
clear:both;
}
#email_error
{
color:red;
width:200px;
height:20px;
position:absolute;
z-index:20;
top:136px;
left:160px;
}
#pwd_error
{
color:red;
width:200px;
height:20px;
position:absolute;
z-index:20;
top:196px;
left:160px;
}
#all_error
{
color:red;
width:210px;
height:20px;
position:absolute;
z-index:20;
top:328px;
left:160px;
}